name: Fuzz Juice Shop Login

on:
  push:
  workflow_dispatch:

jobs:
  fuzz:
    runs-on: ubuntu-latest

    steps:
      # 1. Забираем код репозитория
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Проверяем Docker (он уже установлен)
      - name: Check Docker
        run: |
          docker --version

      # 3. Запускаем Juice Shop
      - name: Run Juice Shop
        run: |
          docker run -d -p 3000:3000 bkimminich/juice-shop
          sleep 25

      # 4. Устанавливаем ffuf
      - name: Install ffuf
        run: |
          sudo apt-get update
          sudo apt-get install -y ffuf

      # 6. Фаззинг формы логина
      - name: Run ffuf against login
        run: |
          mkdir -p results
          ffuf -u http://localhost:3000/rest/user/login \
          -X POST \
          -H "Content-Type: application/json" \
          -d '{"email":"FUZZ","password":"test"}' \
          -w sql.txt \
          -mc all \
          -of json \
          -o results/ffuf-login.json

      # 7. Сохраняем артефакт
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: security-reports-bundle
          path: results
